* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #000000;
  overflow-x: hidden;
}

.section {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #000000;
}

.section-title {
  position: relative;
  margin-bottom: 30px;
  margin-top: 15px;
}

.section-title .title {
  display: inline-block;
  text-transform: uppercase;
  margin: 0px;
}

#content{
  background-color: #000000;
}

header {
  background-color: #1F2029;
  color: #fff;
  padding: 2px;
  font-size: medium;
}

#top-header {
  padding-top: 2px;
  padding-bottom: 1px;
  background-color: #1E1F29;
}

.header-links li {
  display: inline-block;
  margin-right: 15px;
  font-size: 12px;
}

.header-links li:last-child {
  margin-right: 0px;
}

.header-links li a {
  color: #FFF;
}

.header-links li a:hover {
  color: #E6344A;
}

.header-links li i {
  color: #E6344A;
  margin-right: 5px;
}

.li-buscar, .li-productos, .li-carrito, .li-dropdown{
  margin-top:20px;
}

.li-buscar2, .li-productos2, .li-carrito2, .li-dropdown2, .li-dropdown3{
  margin-top:20px;
}

.li-dropdown3{
  margin-right: 40px;
}

header nav {
  background-color: #1f2029;
  margin: auto;
  
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  display: inline-block;
  position: relative;
}

nav a {
  color: #fff;
  text-decoration: none;
  display: block;
}

header nav ul li:hover .children div{
  display: block;
}

header nav ul li .children {
  display: none;
  position: absolute;
  z-index: 1000;
}

header nav ul li .children div li {
  text-align: center;
  align-items: center;
  margin-top: 10px;
  background-color: #000000;
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  height: 100%;
  width: 100%;
}

header nav ul li .children div li a{
  height: 100%;
  width: 100%;
}

header nav ul li .children div li a img{
 height: 100%;
 width: 100%;
}


header nav ul li .children div li:hover {
  background-color: #E6344A;
}

header nav ul li .children div li a {
  display: block;
}



/*Buscador*/
header form {
  display: flex;
  align-items: center;
}

header input[type="text"] {
  padding: 5px;
  border-radius: 5px 0 0 5px;
  border: none;
  font-size: smaller;
}

header button[type="submit"] {
  background-color: #E6344A;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s;
  font-size: smaller;
}

header button[type="submit"]:hover {
  background-color: #555;
}

header li {
  margin-right: 40px;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover i {
  color: #000000;
}

#search{
  color: #000000;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  
}

/**/

/* #get_product  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
} */

#content  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.description{
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
  width: 250px;
}

.title{
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
  width: 250px;
}

.product {
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.product img {
  max-width: 100%;
  min-height: 55%;
}

.product h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product .description {
  font-size: 16px;
  margin-bottom: 20px;
}

.product .price {
  font-size: 20px;
  font-weight: bold;
}

.product button {
  background-color: #E6344A;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.product button:hover {
  background-color: #000000;
}

/*FOOTER*/
#footer {
  color: #B9BABC;
  border-top: 3px solid #E6344A;
  background-color: #1F2029;
  width: 100%;
}

#footer .section {
  background-color: #1F2029;
}

#bottom-footer {
  width: 100%;
}

.footer .footer-title {
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
  margin-left: 1px;
}

.footer-links, p{
  margin-left: 1px;
}

.footer-links li+li {
  margin-top: 15px;
}

.footer-links li a {
  color: #B9BABC;
  margin: auto;
}

.footer-links li i {
  color: #E6344A;
  width: 14px;
}

.footer-links li a:hover {
  color: #E6344A;
}

.copyright {
  margin-top: 30px;
  display: block;
  font-size: 12px;
  width: 100%;
}

.footer-payments li {
  display: inline-block;
  margin-right: 5px;
}

.footer-payments li a {
  color: #15161D;
  font-size: 36px;
  display: block;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 40px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  margin-bottom: 20px;
}

/* Modal Content */
.modal-content {
  color: white;
  background-color: rgb(31, 32, 41);
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin-bottom: 20px;
  overflow: auto;
  max-height: 100%; /* Altura máxima del div */
}

.modal-content:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-radius:5px;
  border-style: solid;
  border-width: 0 0 170px 170px;
  border-color: transparent transparent #e634499b transparent;
}

.modal-content:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-radius:5px;
  /* transform:translate(-50%); */
  transform: rotate(90deg);
  border-style: solid;
  border-width: 0 0 170px 170px;
  border-color: transparent #e634499b transparent;
}

ol ol li{
  margin-left: 20px;
}

/*INICIO DE SESION*/

form {
  font-size: large;
  text-align: center;
}

.ini form input{
  padding: 2%;
  background-color: #000000;
  color: white;
}

.ini {
  margin: 2%;
  background-color: #e63449b1;
  color: #000000;
  position: relative;
  width: 25%;
  padding: 10px;
  box-shadow: 1px 5px 20px 10px rgb(0, 0, 0);
  transition: width 1.5s, padding 1.5s;
  text-align: center;
  font-weight: bold;
}

.ini:hover {
  width: 29%;
  padding: 29px;
}

.ini .boton {
  color: white;
  background-color: #000000;
  padding: 10px;
  border: none;
  cursor: pointer;
  padding: 2%;
  width: 90%;
  text-align: center;
}

.ini h2{
  border: #000000 2px solid;
}


/*Desplegable*/

.dropdownn {
  position: relative;
  display: inline-block;
}

.dropdownn-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownn-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownn-content a:hover {
  background-color: #15161D;
  -webkit-transform:scale(1.05);
    color:#fff;
    box-shadow:0 0 30px -10px #000
}

.dropdownn:hover .dropdownn-content {
  display: block;
}

.ionicon{
  margin-bottom: -2px;
  color: red;
  padding: 0 3px;
}


#submit {
  position: relative;
  padding-left: 40px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

#submit:before {
  content: "\f290"; /* Código del icono de Font Awesome (puedes cambiarlo según el icono que desees) */
  font-family: "Font Awesome 5 Free";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Estilos adicionales según tus necesidades */

/*********INDEX**********/
/*----------3categorias----------*/
.shop {
  position: relative;
  overflow: hidden;
  margin: 15px 0px;
  background-color: #1F2029;
}

.shop:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  width: 60%;
  background: #E6344A;
  opacity: 0.9;
  -webkit-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

.shop:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1px;
  width: 100%;
  background: #E6344A;
  opacity: 0.9;
  -webkit-transform: skewX(-45deg) translateX(-100%);
  -ms-transform: skewX(-45deg) translateX(-100%);
  transform: skewX(-45deg) translateX(-100%);
}

.shop .shop-img {
  position: relative;
  background-color: #E4E7ED;
  z-index: 0;
}

.shop .shop-img>img {
  width: 100%;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.shop:hover .shop-img>img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.shop .shop-body {
  position: absolute;
  top: 0;
  width: 75%;
  padding: 30px;
  z-index: 10;
}

.shop .shop-body h3 {
  color: #FFF;
}

.shop .shop-body .cta-btn {
  color: #FFF;
  text-transform: uppercase;
}

/*----------descuentos----------*/
#hot-deal.section {
  border-top: 3px solid #E6344A;;
  padding: 60px 0px;
  background-image: url('../img/oferta.png');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.hot-deal {
  text-align: center;
  color: #FFF;
}

.hot-deal .hot-deal-countdown {
  margin-bottom: 30px;
}

.hot-deal .hot-deal-countdown>li {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #E6344Ae6;
  text-align: center;
  border-radius: 50%;
  margin: 0px 5px;
}

.hot-deal .hot-deal-countdown>li>div {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hot-deal .hot-deal-countdown>li>div h3 {
  color: #FFF;
  margin-bottom: 0px;
}

.hot-deal .hot-deal-countdown>li>div span {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #FFF;
}

.hot-deal p {
  text-transform: uppercase;
  font-size: 24px;
  color: #E6344A;
  margin-bottom: 7px;
}

.hot-deal .cta-btn {
  margin-top: 1px;
  padding: 10px;
  background-color: #E6344A;
  border-radius: 20px;
  color: #ffffff;
  font-size: larger;
}


/*Mobile.php, tablet.php y accesories.php*/
.main {
  background-color: #333;
  color: #fff;
  width:100%;
  min-height: 100%;
}

.section {
  padding: 50px 0;
  width:100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  width:100%;
  height: 100%;
  min-height: 100%;
}

#aside {
  background-color: #222;
  padding: 20px;
  border-radius: 5px;
  width:100%;
  min-height: 100%;
  height: 100%;
}

#get_category, #get_categoryM, #get_categoryT, #get_categoryT {
  margin-bottom: 20px;
float: left;
clear: both;
}

#get_brandM, #get_brandT, #get_brandA {
  margin-bottom: 20px;
float: left;
clear: both;
}

.btn a{
  color: #fff;
  text-align: left;
}

#product-row {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.aside{
  float: left;
  clear: both;
}
.aside h3{
  text-align: center;
}

.product {
  width: 30%;
  margin: 10px;
  padding: 20px;
  background-color: #222;
  border-radius: 5px;
  min-height: 30%; /* Establece una altura mínima para cada producto */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total del producto */
}

#product_msg {
  margin-bottom: 20px;
  text-align: center;
}

.store-filter {
  margin-top: 20px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.store-qty {
  font-size: 14px;
}

.store-pagination li {
  display: inline-block;
  margin-right: 5px;
}

.store-pagination li a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
}

.store-pagination li a.active {
  background-color: #E6344A;
}
#prod_marcas,#get_product, #get_productM, #get_productT, #get_productA {
  width: 100%; /* Ajusta el ancho del contenedor */
  min-height: 100%; /* Establece una altura mínima para evitar que se haga pequeño */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  clear: both;
  float: right;
}

h1{
  text-align: center;
  margin: 0;
  padding: 0;
}

.search-form {
  text-align: right;
  align-items: center;
}

form .search-form{
  text-align: right;
}

#searchT, #searchM, #searchA {
  padding: 4px 8px;
  border-radius: 3%;
  color: #000000;
  border: none;
  line-height: 14px;
  outline: none;
  text-align: left;
}

#searchT.centered,#searchA.centered,#searchM.centered{
  text-align: center;

}
#search_btnT, #search_btnA, #search_btnM {
  padding: 6px 10px; /* Ajusta el relleno (padding) según tus necesidades */
  font-size: 14px; /* Ajusta el tamaño de fuente según tus necesidades */
  width: 6%;
  max-height: 2%;
  border-radius: 15%;
  background-color: #E6344A;
  margin: 5px;
  line-height: 12px;
}



@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");


.card {
  position: relative;
  width: 25%;
  min-height: 10%;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
  margin:2%;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #E6344A;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "MobileZone";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
/*
.card .imgBox img {
    max-width: 100%;
    
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;
      
}
*/
.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
  width: 200px;
  text-align: center;
}

.card .contentBox .price {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
  background: #E6344A;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  min-height: 100%;
  width: auto;
}


