body{
    /*background-image: url("images/profile.gif");*/
    background-color:#000000;
    background-size: cover;
    margin: 0;
    padding: 0;
    justify-content:center;
    align-items: center;
    /*overflow-y:hidden;*/
  }

  #profile{
    background: #E6344A;
  }

  #profile:after{
    color: #E6344A;
  }

  .box{
    margin-bottom: 8%;
    width: 100%;
  }
  .card{
    position: relative;
    width: 350px;
    height: 450px;
    background: #fff;
    margin: 0px;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 4px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 130px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position:absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 100px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #E6344A;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
   } 

   @import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');



.a{color: #E7484F}
.b{color: #E6344A}
.c{color: #e8384d}
.d{color: #e33347}
.e{color: #ea3046}
.f{color:  #ea3046}

.text-center {
  text-align: center;
}

.rainbow{
  background-color: #343A40;
  border-radius: 4px;  
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  
}

.rainbow-1:hover{
   background-image: linear-gradient(90deg, #E7484F 0%, #E6344A 49%, #e8384d 80%, #e33347 100%);
   animation:slidebg 5s linear infinite;
}

.rainbow-2:hover{
  background-image: linear-gradient(to right, #E7484F,#E6344A,#e8384d,#e33347,#ea3046,#ea3046,#E6344A #E7484F);
  animation:slidebg 2s linear infinite;
}

.rainbow-3:hover{
  background-image: linear-gradient(to right, #E7484F,#E6344A,#e8384d,#e33347,#ea3046,#ea3046,#E6344A);
  animation:slidebg 2s linear infinite;
}

.rainbow-4:hover{
   background-image:     linear-gradient(
      to right, 
      #E7484F,
      #E6344A,
      #e8384d,
      #e33347,
      #ea3046,
      #ea3046,
    );
  animation:slidebg 2s linear infinite;
}


.rainbow-5:hover{
   background-image:     linear-gradient(
      to right, 
      #E7484F,
      #E7484F 16.65%,
      #e8384d 16.65%,
      #e33347 33.3%,
      #ea3046 33.3%,
      #ea3046 49.95%,
      #ea3046 49.95%,
      #ea3046 66.6%,
      #e33347 66.6%,
      #e33347 83.25%,
      #e8384d 83.25%,
      #E7484F 100%,
      #E7484F 100%
     
     
     
    );
  animation:slidebg 2s linear infinite;
}


@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.follow{
  margin-top: 40px;
}

.follow a{
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.patterns{
  margin-top: -1.5%;
  margin-bottom: -2.5%;
}